@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

.section {
  padding: 3rem 4rem;
  background: #0e0f12;
  color: #fff;
}

/* Title */
.title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 4rem;
  font-family: "Syne", sans-serif;
}

/* -------- CATEGORY CARDS -------- */
.categoryRow {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  /* flex-wrap: wrap; */
}

.categoryCard {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: transparent;
  border: 1px solid #282828;
  padding: 1rem 2rem;
  border-radius: 15rem;
  min-width: 250px;
  transition: 0.3s;
}

.categoryCard:hover {
  transform: translateY(-5px);
  border-color: #e2b06b;
}

.catImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

/* -------- ABOUT SECTION -------- */
.aboutSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  /* flex-wrap: wrap; */
  margin-top: 2rem;
}



.aboutLeft h2 {
  font-size: 3.3rem;
  margin-bottom: 1.2rem;
  font-family: "Syne", sans-serif !important;
}

.aboutLeft p {
  color: #b7b7b7;
  margin-bottom: 2.5rem;
  line-height: 1.7;
}

.btn {
  background: #ba7d3a;
  border: none;
  padding: 0.9rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}
.btn:hover {
  border: 1px solid #ba7d3a;
  background: transparent;
  color: white;
  transform: translateY(-5px);
}
/* -------- RIGHT IMAGES -------- */
.aboutRight {
  position: relative;
  width: 450px;
  height: 350px;
  /* direction: rtl; */
}

.bigRound {
  width: 60%;
  height: 100%;
  border-radius: 90% / 50%;
  overflow: hidden;
}

.bigRound img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.smallRound {
  width: 160px;
  height: 160px;
  position: absolute;
  bottom: 0;
  left: 145px ;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #0e0f12;
}

.smallRound img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------- RESPONSIVE -------- */
@media (max-width: 900px) {
  .aboutLeft {
    max-width: 100%;
    text-align: center;
  }

  .aboutRight {
    margin: auto;
  }

  .title {
    text-align: center;
  }
}
