.main {
    width: 100%;
    background: #1f242b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
    overflow: hidden;   
    box-sizing: border-box;
}

.main1 h1 {
    color: white;
    font-size: 55px;
    font-weight: 700;
    font-family: sans-serif;
    margin: 0;
}

.main2 {
    display: flex;
    gap: 30px;
    align-items: center;
}
.main2 img{
    width: 200px;
    height:280px;
    border-radius: 200px;
}
.imgStyle {
    width: 170px;      
    height: 280px;
    object-fit: cover;
    border-radius: 150px;
}

.middleImg {
    margin-top: 100px;    
}
