.main {
  background-color: #1f242b;
  display: flex;
  justify-content: space-around;

  align-items: center;

}

.main1 h1 {
  color: white;
  font-size: 60px;
  margin-top: 30px;
}

.main2 {
  display: flex;
  gap: 250px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}


.pImage {
  width: 180px;
  height: 250px;
  border-radius: 200px;
  object-fit: contain;
  transition: transform 0.2s linear;
  position: relative;
  z-index: 2;

}

.centerImg img {
  width: 260px !important;
  height: 340px !important;
  border-radius: 200px;
  object-fit: contain !important;   /* FULL image visible */
  background-color: #1f242b;        /* gaps hide */
}

.centerImg {
  margin-top: 100px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
}

.faqWrapper {
  width: 90%;
  margin: 40px auto;
  color: white;
  background: #121212;
  padding-bottom: 40px;
  font-family: Arial, sans-serif;
}

.heading {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.categoryBox {
  width: 100%;
  background: #1e1e1e;
  padding: 18px 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.icon {
  font-size: 22px;
  margin-right: 10px;
}

.catText {
  font-size: 20px;
  font-weight: 600;
}

.faqItem {
  border-bottom: 1px solid #2e2e2e;
  padding: 18px 0;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question p {
  font-size: 20px;
  font-weight: 600;
}

.arrow {
  font-size: 20px;
}

.answer {
  margin-top: 10px;
  padding-left: 10px;
  color: #cfcfcf;
  line-height: 1.6;
}