@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

.flashContainer {
  display: flex;
  gap: 50px;
  padding: 50px;
  background: #14181f;
  color: white;
  overflow: hidden;
 
}

.flashLeft {
  position: relative;
}

.flashBigImg {
  width: 300px;
  height: 420px;
  border-radius: 90% / 50%;
  object-fit: cover;
  opacity: 0.3;
}

.viewBtn {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background: #d6862d;
  padding: 14px 30px;
  border-radius: 40px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 13px;
    font-family: "Syne", sans-serif;
}

.flashRight {
  width: 100%;
}

.flashHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 48px;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}

.timer {
  display: flex;
  gap: 20px;
}

.timeBox {
  width: 80px;
  height: 80px;
  background: #0f1115;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeBox span {
  font-size: 25px;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}

.timeBox p {
  font-size: 14px;
  margin: 0;
  opacity: 0.7;
  font-family: "Syne", sans-serif;
}

.flashProducts {
  margin-top: 40px;
  display: flex;
  gap: 25px;
}

.cardBox {
  width: 260px;
  height: 330px;
  border: 1px solid #363636;
  padding: 20px;
    transition: 0.3s ease;
}
.cardBox:hover {
  border-color: #d9a96c;
   transform: translateY(-4px);
}
.cardBox h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: "Syne", sans-serif;
}

.price {
  margin: 0;
  font-size: 16px;
    font-family: "Syne", sans-serif;

}

.price del {
  opacity: 0.5;
}

.price span {
  margin-left: 10px;
  font-weight: 700;
    font-family: "Syne", sans-serif;
}


.productImg {
  width: 180px;
  margin-top: 20px;
  display: block;
}
.cardBox {
  opacity: 0;
  transform: translateX(60px); 
  transition: all 0.7s ease-out;
}
.cardBox.show {
  opacity: 1;
  transform: translateX(0);
}

