@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
.container {
  padding: 40px 60px;
  background: #0e0e0f;
}

.heading {
  font-size: 42px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 600;

  font-family: "Syne", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  background: #111;
  border: 1px solid #363636;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
}
.card:hover {
  border-color: #d9a96c;
}

/* .textBox {
  margin-bottom: 10px;
} */

.name {
  color: #fff;
  font-size: 16px;
  margin: 0 0 6px 0;
  
  font-family: "Syne", sans-serif;
}

.price {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
    font-family: "Syne", sans-serif;


}

.oldPrice {
  text-decoration: line-through;
  opacity: 0.5;
  margin-right: 6px;
}

.salePrice {
  color: #fff;
  font-weight: bold;
    font-family: "Syne", sans-serif;

}

.image {
  width: 100%;
  height: 240px;
  object-fit: contain;
  /* margin-top: 10px; */
}
/* Initial state */
.card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* When visible, animate to visible */
.animate {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s; /* can adjust delay with JS if needed */
}
