@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

/* NAVBAR ------------------------------------------------------------ */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  background: #0f1112;
  color: #ffffff;
  position: relative;
}

.navbar1 {
  overflow: visible;
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logoIcon {
  font-family: "Kaushan Script", cursive;
  font-size: 2.5rem;
  color: #b3773b;
}

.navLinks {
  display: flex;
  gap: 25px;
  margin-left: 30px;
  border: none;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
  font-family: "Syne", sans-serif;
}

.navLinks a:hover {
  color: #d6a35a;
}


.dropdown {
  position: relative;
}

.dropBtn {
  cursor: pointer;
  font-size: 18px;
  font-family: "Syne", sans-serif;
}

.dropdownMenu {
  position: absolute;
  top: 35px;
  left: 0;
  background: #1c1f23;
  padding: 12px 20px;
  border-radius: 6px;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
  z-index: 99999;
}

.dropdownMenu a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: "Syne", sans-serif;
}

.dropdownMenu a:hover {
  color: #cfa05f;
}


.cartSection {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.price {
  color: #aebccd;
  font-size: 17px;
  font-family: "Syne", sans-serif;
}

.cartIcon {
  background: #c78a3a;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  font-size: 16px;
  font-family: "Syne", sans-serif;
}

.cartCount {
  background: #ff3b3b;
  color: white;
  font-size: 11px;
  font-family: "Syne", sans-serif;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -7px;
  right: -7px;
  font-weight: bold;
}


.offCanvas {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100vh;
  background-color: #141414;

  z-index: 2000;
  padding: 20px;
  overflow-y: auto;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
}

.showCart {
  right: 0;
}

.cartOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1500;
}


.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  color: #edebeb;
}

.cartHeader button {
  background: none;
  border: none;
  font-size: 22px;
  font-family: "Syne", sans-serif;
  cursor: pointer;
  color: #edebeb;
}


.cartItems {
  flex: 1;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cartItem {
  display: flex;
  gap: 12px;
  align-items: center;
}

.cartItemImage {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 8px;
}

.cartItemInfo {
  display: flex;
  flex-direction: column;
  color: #edebeb;
}

.itemName {
  font-size: 16px;
  font-weight: 600;
  color: #edebeb;
  font-family: "Syne", sans-serif;
}

.itemPrice {
  font-size: 14px;
  color: #edebeb;
  font-family: "Syne", sans-serif;
}


.viewCartBtn {
  width: 100%;
  padding: 10px;
  background: #c78a3a;
  color: white;
  border: none;
  font-size: 15px;
  font-family: "Syne", sans-serif;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.viewCartBtn:hover {
  background: #ae762f;
}
