@font-face {
  font-family: 'Science Gothic';
  src: url('https://github.com/googlefonts/science-gothic/raw/main/fonts/variable/ScienceGothic[wght].ttf')
    format('truetype');
  font-weight: 100 900;
}
